#QRcontainer {
    max-width: fit-content;
    margin-bottom: 20px;
    display: inline-block;
}

#react_endpoint-3-1 > button {
    width: 300px !important;
    margin-top: 10px;
}

#quotaDetails {
    border: 1px solid #d6d6d6;
    width: calc(100% - 320px);
    padding: 20px;
    float: right;
    border-radius: 5px;
}

.opacity-5 {
    opacity: 0.5;
}

#quotaDetails span:not(:first-child) {
    font-weight: 800;
}